@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Account-Title">
    <h3> here is where we will display the users account to details and direct them to login / sign up </h3>
    <p> Maybe some kind of system where it will see if they are logged in or not and direct them to login / register if not then display the accounts page?</p>
</div>
